[submodule "dev_environment/cookbooks/apt"]
	path = dev_environment/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "dev_environment/cookbooks/motd-tail"]
	path = dev_environment/cookbooks/motd-tail
	url = https://github.com/opscode-cookbooks/motd-tail
[submodule "dev_environment/cookbooks/git"]
	path = dev_environment/cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "dev_environment/cookbooks/rbenv"]
	path = dev_environment/cookbooks/rbenv
	url = https://github.com/fnichol/chef-rbenv.git
[submodule "dev_environment/cookbooks/mongodb"]
	path = dev_environment/cookbooks/mongodb
	url = https://github.com/edelight/chef-mongodb.git
[submodule "dev_environment/cookbooks/rabbitmq"]
	path = dev_environment/cookbooks/rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "dev_environment/cookbooks/erlang"]
	path = dev_environment/cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "dev_environment/cookbooks/ruby_build"]
	path = dev_environment/cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build.git
