ADAM_ROOT_DOMAIN=local.adamrabbit.net
RAILS_ENV=development

GITHUB_KEY=
GITHUB_SECRET=
TWITTER_KEY=
TWITTER_SECRET=

MONGOID_HOST=127.0.0.1
ADAM_MEMORY_URL=http://local.adamrabbit.net
ADAM_MEMORY_INTERNAL_USERNAME=internal
ADAM_MEMORY_INTERNAL_PASSWORD=fj8j4893jgg9jg9

ADAM_FINGERS_JID=adam@local.adamrabbit.net
ADAM_FINGERS_PASSWORD=abc123
ADAM_FINGERS_DEBUG=true

WIT_API_KEY=

BING_TRANSLATE_KEY=
BING_TRANSLATE_SECRET=
