RAILS_ENV=development
GITHUB_KEY=
GITHUB_SECRET=
TWITTER_KEY=
TWITTER_SECRET=
ADAM_MEMORY_AMQP_HOST=localhost
ADAM_MEMORY_AMQP_USERNAME=memory
ADAM_MEMORY_AMQP_PASSWORD=password
ADAM_FINGERS_JID=adam@local.adamrabbit.net
ADAM_FINGERS_PASSWORD=abc123
ADAM_FINGERS_DEBUG=true
ADAM_FINGERS_AMQP_HOST=local.adamrabbit.net
ADAM_FINGERS_AMQP_USERNAME=fingers
ADAM_FINGERS_AMQP_PASSWORD=password
ADAM_EARS_AMQP_HOST=local.adamrabbit.net
ADAM_EARS_AMQP_USERNAME=ears
ADAM_EARS_AMQP_PASSWORD=password
ADAM_BRAIN_AMQP_HOST=local.adamrabbit.net
ADAM_BRAIN_AMQP_USERNAME=brain
ADAM_BRAIN_AMQP_PASSWORD=password
ADAM_ROOT_DOMAIN=local.adamrabbit.net
ADAM_MEMORY_URL=http://local.adamrabbit.net
ADAM_MEMORY_INTERNAL_USERNAME=internal
ADAM_MEMORY_INTERNAL_PASSWORD=fj8j4893jgg9jg9
AHN_REPORTER_API_KEY=
AHN_REPORTER_URL=http://errbit.mojolingo.com
AHN_PLATFORM_LOGGING_LEVEL=debug
AHN_PUNCHBLOCK_USERNAME=usera@local.adamrabbit.net
AHN_PUNCHBLOCK_PORT=5224
AHN_PUNCHBLOCK_HOST=localhost

WIT_API_KEY=

BING_TRANSLATE_KEY=
BING_TRANSLATE_SECRET=

ATT_ASR_KEY=
ATT_ASR_SECRET=
