%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
  %body
    %h1 Hey, it's Adam. I'm told I can find you here?
    %p
      Please
      %a(href=@confirmation_url) confirm
      this address is yours.
    %p Thanks for joining and have a great day!
