- title "Welcome", false

%br
%br
%br

%p This is a static home page

#log

#chat{:style => 'text-align: center'}
  #form{:name => 'chat'}
    %input#message{:type => 'message'}
    %input#send{:type => 'button', :value => 'Send'}
