- title "Welcome", false

#chat
  .too-noisy
    Too Noisy?
  %form{:name => 'chat'}
    %input#message{:type => 'text'}
    %input#send_message{:type => 'submit', :value => 'Send', :disabled => true}


/ CODE FROM MEL

.container
  .row-fluid
    #sidebar.span3
      .image
        = image_tag('ada.jpg')
      .suggestions
        %h3 What to ask?
        %ul
          %li How do you say "call me" in Swedish?
          %li What time is it?
          %li "Tweet this message: ..."
          %li Mirror, mirror on the wall, who is the fairest of them all?
          %li Who is speaking right now?
    #messages.span9
